body {
    background-color:#BFCBA8;
}
.judul{
    text-align: center;
    font-family: 'Montserrat', normal;
    font-weight: 800;
    font-size: 40px;
}
.kolom{
    width: 450px;
    height: 330px;
    background-color: #57786D;
    margin-top:  60px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 13px;
    padding-bottom: 411px;
    margin-left: 50px;
    padding: 30px;
    color: white;
}
.row{
    font-family: 'montserrat','normal';
    font-size: 18px;
}
.col-sm-7{
    margin-left: 140px;
    margin-top: -30px;
}
.btn-sm{
    margin-left: 272px;
    background-color: #464F41;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 13px;;
}
.tombol1{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    text-align: left;
}
.table-bordered{
    margin-top: -310px;
    margin-left: 500px;
    font-family: Montserrat;
    width: 750px;
    text-align: center;
    border-color: transparent;
    background-color: #57786D;
}
.table-active{
    text-align: left;
    color: white;
}
.thead{
    background-color: #464F41;
    color: white;
    border-color: white;
}
.btn-simpan{
    background-color: #464F41;
    width: 100px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 13px;
    margin-top: 20px;
    margin-right: 20px;
    color: white;
}